body{
    background-color: #eef9bf;
    font-family: 'Roboto', sans-serif;
}
div{
    margin-top: 40px;
    margin-bottom: 50px;
}
h1{
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    color: #75B79E;
    text-align: center;
}
ul {
	display: flex;
    background-color: black;
}

ul li {
	list-style-type: none;
    padding-left: 100px;
}
.card {
    width: 120px;
    height: 150px;
    position: relative;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    border: 1px solid #99CEA8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.card:hover .back-face {
    transform: rotateY(0deg);
}

.card:hover .front-face {
    transform: rotateY(-180deg);
}
img{
    width: 100px;
    height: 100px;
}

@media (max-width:540px) {
    h1{
        font-size: 36px;
        line-height: 42px;
    }
}

